.resource-database-niyfi896v0m-icon {
  position: absolute;
  top: 2604px;
  left: calc(50% - 375.67px);
  width: 749.46px;
  height: 779.68px;
  object-fit: contain;
  opacity: 0.7;
}
.whatsapp-image-2023-11-12-at-7 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 792px;
  object-fit: cover;
}
.landing-page-v2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 0.3);
  width: 1440px;
  height: 792px;
}
.o,
.u {
  top: 7px;
  line-height: 84px;
  font-weight: 500;
}
.o {
  position: absolute;
  left: 0;
}
.u {
  left: 45px;
}
.r,
.s,
.u {
  position: absolute;
}
.r {
  top: 7px;
  left: 83px;
  line-height: 84px;
  font-weight: 500;
}
.s {
  top: 3px;
  left: 119px;
}
.e,
.s,
.s1 {
  line-height: 84px;
  font-weight: 500;
}
.s1 {
  position: absolute;
  top: 9px;
  left: 325px;
}
.e {
  top: 5px;
  left: 296px;
}
.e,
.e1,
.r1 {
  position: absolute;
}
.e1 {
  top: 3px;
  left: 155px;
  line-height: 84px;
  font-weight: 500;
}
.r1 {
  left: 185px;
}
.i,
.r1,
.v {
  top: 0;
  line-height: 84px;
  font-weight: 500;
}
.v {
  position: absolute;
  left: 216px;
}
.i {
  left: 250px;
}
.c,
.i,
.o-parent {
  position: absolute;
}
.c {
  top: 3px;
  left: 268px;
  line-height: 84px;
  font-weight: 500;
}
.o-parent {
  top: 1641px;
  left: 100px;
  width: 353px;
  height: 93px;
  font-size: var(--font-size-45xl);
}
.web-design {
  position: absolute;
  width: 100%;
  top: 49.18%;
  left: 0;
  display: inline-block;
}
.vector-icon {
  position: absolute;
  height: 50.5%;
  width: 14.41%;
  top: 26.67%;
  right: 0;
  bottom: 22.83%;
  left: 85.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.learn-more {
  position: absolute;
  width: 81.79%;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  opacity: 0.6;
}
.vector-parent {
  position: absolute;
  height: 24.59%;
  width: 86.19%;
  top: 75.41%;
  right: 7.25%;
  bottom: 0;
  left: 6.56%;
  font-size: var(--font-size-lg);
}
.mask-group-icon {
  position: absolute;
  height: 29.51%;
  width: 29.51%;
  top: 0;
  right: 35.25%;
  bottom: 70.49%;
  left: 35.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.web-design-parent {
  position: absolute;
  height: 94.57%;
  width: 8.47%;
  top: 2.33%;
  right: 59.57%;
  bottom: 3.1%;
  left: 31.95%;
}
.marketing {
  position: absolute;
  width: 100%;
  top: 48.33%;
  left: 0;
  display: inline-block;
}
.vector-group {
  position: absolute;
  height: 25%;
  width: 94.73%;
  top: 75%;
  right: 2.57%;
  bottom: 0;
  left: 2.7%;
  font-size: var(--font-size-lg);
}
.mask-group-icon1 {
  position: absolute;
  height: 28.33%;
  width: 33.33%;
  top: 0;
  right: 33.33%;
  bottom: 71.67%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.marketing-parent {
  position: absolute;
  height: 93.02%;
  width: 7.71%;
  top: 3.1%;
  right: 35.2%;
  bottom: 3.88%;
  left: 57.09%;
}
.branding {
  position: absolute;
  width: 94.15%;
  top: 51.94%;
  left: 2.85%;
  display: inline-block;
}
.vector-container {
  position: absolute;
  height: 23.26%;
  width: 100%;
  top: 76.74%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.mask-group-icon2 {
  position: absolute;
  height: 33.33%;
  width: 40.89%;
  top: 0;
  right: 29.62%;
  bottom: 66.67%;
  left: 29.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.branding-parent {
  position: absolute;
  height: 100%;
  width: 7.3%;
  top: 0;
  right: 11.23%;
  bottom: 0;
  left: 81.47%;
}
.autocad {
  position: absolute;
  width: 89.4%;
  top: 49.18%;
  left: 5.71%;
  display: inline-block;
}
.group-div {
  position: absolute;
  height: 24.59%;
  width: 100%;
  top: 75.41%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-lg);
}
.mask-group-icon3 {
  position: absolute;
  height: 29.51%;
  width: 29.86%;
  top: 0;
  right: 34.95%;
  bottom: 70.49%;
  left: 35.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.autocad-parent {
  position: absolute;
  height: 94.57%;
  width: 7.3%;
  top: 2.33%;
  right: 84.71%;
  bottom: 3.1%;
  left: 7.99%;
}
.uiux-design {
  position: absolute;
  width: 100%;
  top: 49.59%;
  left: 0;
  display: inline-block;
}
.vector-icon4 {
  position: absolute;
  height: 50.5%;
  width: 14.41%;
  top: 26.67%;
  right: -8.23%;
  bottom: 22.83%;
  left: 93.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-parent1 {
  position: absolute;
  height: 24.39%;
  width: 73.02%;
  top: 75.61%;
  right: 13.79%;
  bottom: 0;
  left: 13.19%;
  font-size: var(--font-size-lg);
}
.mask-group-icon4 {
  position: absolute;
  height: 29.81%;
  width: 25.56%;
  top: 0;
  right: 36.94%;
  bottom: 70.19%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.uiux-design-parent,
.vector-parent2 {
  position: absolute;
  height: 95.35%;
  width: 10%;
  top: 2.33%;
  right: 108.68%;
  bottom: 2.33%;
  left: -18.68%;
}
.vector-parent2 {
  height: 24.59%;
  width: 55.34%;
  top: 75.41%;
  right: 22.55%;
  bottom: 0;
  left: 22.11%;
  font-size: var(--font-size-lg);
}
.mask-group-icon5 {
  position: absolute;
  height: 29.51%;
  width: 18.51%;
  top: 0;
  right: 40.97%;
  bottom: 70.49%;
  left: 40.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.web-development-parent {
  position: absolute;
  height: 94.57%;
  width: 13.19%;
  top: 2.33%;
  right: -18.63%;
  bottom: 3.1%;
  left: 105.44%;
}
.instance-child,
.instance-child1,
.instance-inner,
.instance-item,
.line-div {
  position: absolute;
  height: 64.34%;
  width: 0.07%;
  top: 17.44%;
  right: 76.34%;
  bottom: 18.22%;
  left: 23.59%;
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  opacity: 0.5;
}
.instance-child1,
.instance-inner,
.instance-item,
.line-div {
  right: 100.31%;
  left: -0.38%;
}
.instance-child1,
.instance-inner,
.line-div {
  right: 51.2%;
  left: 48.73%;
}
.instance-child1,
.line-div {
  right: 26.83%;
  left: 73.1%;
}
.instance-child1 {
  right: 2.86%;
  left: 97.07%;
}
.group-parent {
  position: absolute;
  top: 1794px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 129px;
  overflow: auto;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.image-3-icon {
  position: absolute;
  top: 2165px;
  left: 100px;
  width: 402px;
  height: 366px;
  object-fit: cover;
}
.hellosuperdribcom {
  position: absolute;
  top: 4646px;
  left: calc(50% - 288px);
  font-size: 48px;
  line-height: 68px;
  font-weight: 500;
}
.superdib-all-rights {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 104.5px);
  line-height: 124.22%;
  white-space: pre-wrap;
  opacity: 0.4;
}
.tablercopyright-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  opacity: 0.4;
}
.superdib-all-rights-reserved-parent {
  position: absolute;
  top: calc(50% + 2395px);
  left: calc(50% - 128px);
  width: 257px;
  height: 20px;
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.landing-page-v2-item {
  position: absolute;
  top: 4809.5px;
  left: calc(50% - 439.5px);
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 879px;
  height: 1px;
  opacity: 0.2;
}
.group-wrapper,
.landing-page-v2-inner,
.subscribe-to-our {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 136px);
}
.group-wrapper,
.landing-page-v2-inner {
  width: 272px;
  height: 28px;
}
.landing-page-v2-inner {
  top: calc(50% + 1808px);
  left: calc(50% + 217px);
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.c1,
.div,
.e2,
.j,
.let-us-help,
.o1,
.p,
.r2,
.t {
  position: absolute;
  left: 0;
  line-height: 74px;
  font-weight: 500;
}
.let-us-help {
  top: 0;
  display: inline-block;
  width: 549px;
}
.c1,
.div,
.e2,
.j,
.o1,
.p,
.r2,
.t {
  top: 143px;
}
.c1,
.div,
.e2,
.j,
.o1,
.r2,
.t {
  top: 150px;
  left: 37px;
}
.c1,
.div,
.e2,
.j,
.o1,
.t {
  top: 151px;
  left: 66px;
}
.c1,
.div,
.e2,
.j,
.t {
  top: 154px;
  left: 99px;
}
.c1,
.div,
.e2,
.t {
  top: 149px;
  left: 118px;
}
.c1,
.div,
.t {
  top: 147px;
  left: 148px;
}
.div,
.t {
  top: 143px;
  left: 176px;
}
.div {
  top: 139px;
  left: 200px;
}
.group-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 549px;
  height: 228px;
}
.we-are-dedicated {
  position: absolute;
  top: 252px;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 34px;
  font-family: var(--font-gentium-basic);
  color: var(--color-gray-100);
  display: inline-block;
  width: 489px;
  opacity: 0.6;
}
.group-container {
  position: absolute;
  top: 2073px;
  left: 791px;
  width: 549px;
  height: 456px;
  font-size: var(--font-size-45xl);
}
.vector-icon6,
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 94.65%;
  width: 1.78%;
  top: 0;
  right: 74.11%;
  bottom: 5.35%;
  left: 24.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.vector-icon7,
.vector-icon8 {
  right: 50.69%;
  left: 47.52%;
}
.vector-icon8 {
  right: 26.14%;
  left: 72.07%;
}
.lets-innovate-the {
  position: absolute;
  top: 6.31px;
  left: 0;
  line-height: 74px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: pre-wrap;
}
.vector-parent3 {
  position: absolute;
  height: 100.39%;
  width: 295.9%;
  top: 0;
  right: -195.9%;
  bottom: -0.39%;
  left: 0;
}
.frame-div {
  position: absolute;
  top: 2954px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 80px;
  overflow: hidden;
  font-size: var(--font-size-53xl);
}
.f {
  top: 8px;
  left: 0;
  line-height: 84px;
  font-weight: 500;
}
.f,
.o2,
.r3 {
  position: absolute;
}
.o2 {
  top: 5px;
  left: 26px;
  line-height: 84px;
  font-weight: 500;
}
.r3 {
  top: 3px;
  left: 59px;
}
.r3,
.s2,
.s3 {
  line-height: 84px;
  font-weight: 500;
}
.s2 {
  position: absolute;
  top: 3px;
  left: 97px;
}
.s3 {
  top: 16px;
  left: 306px;
}
.a,
.r4,
.s3,
.t1 {
  position: absolute;
}
.t1 {
  top: 0;
  left: 125px;
  line-height: 84px;
  font-weight: 500;
}
.a,
.r4 {
  top: 1px;
}
.a {
  left: 148px;
  line-height: 84px;
  font-weight: 500;
}
.r4 {
  left: 184px;
}
.r4,
.t2,
.u1 {
  line-height: 84px;
  font-weight: 500;
}
.t2 {
  position: absolute;
  top: 0;
  left: 214px;
}
.u1 {
  top: 5px;
  left: 236px;
}
.f-parent,
.p1,
.u1 {
  position: absolute;
}
.p1 {
  top: 8px;
  left: 271px;
  line-height: 84px;
  font-weight: 500;
}
.f-parent {
  top: 143px;
  left: 9px;
  width: 334px;
  height: 100px;
}
.at-superdrib-we {
  position: absolute;
  top: 267px;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 34px;
  font-family: var(--font-gentium-basic);
  color: var(--color-gray-100);
  display: inline-block;
  width: 489px;
  opacity: 0.6;
}
.a-creative {
  margin: 0;
}
.a-creative-design-container {
  position: absolute;
  top: 0;
  left: 9px;
  line-height: 74px;
  font-weight: 500;
  color: var(--color-whitesmoke-100);
}
.group-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 489px;
  height: 505px;
}
.what-our-clients {
  position: absolute;
  top: 10px;
  left: 24px;
  line-height: 34px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-60xl);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 239px;
  height: 54px;
}
.vector-icon9 {
  position: absolute;
  height: 33.23%;
  width: 7.51%;
  top: 33.33%;
  right: 10.07%;
  bottom: 33.44%;
  left: 82.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-wrapper1,
.what-our-clients-say-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  height: 54px;
}
.group-wrapper1 {
  top: 545px;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.group-parent1 {
  position: absolute;
  top: 892px;
  left: 100px;
  width: 489px;
  height: 599px;
  font-size: var(--font-size-45xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-60xl);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 195px;
  height: 54px;
}
.vector-icon10 {
  position: absolute;
  height: 33.23%;
  width: 9.2%;
  top: 33.33%;
  right: 12.34%;
  bottom: 33.44%;
  left: 78.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.landing-page-v2-inner1,
.schedule-a-call-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  height: 54px;
}
.landing-page-v2-inner1 {
  top: 2569px;
  left: 791px;
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-61xl);
  background-color: var(--color-gray-300);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 403px;
  height: 55px;
  opacity: 0.3;
}
.your-e-mail {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 177.5px);
  line-height: 124.22%;
  opacity: 0.6;
}
.fluentsend-28-filled-icon {
  position: absolute;
  top: 17px;
  left: 357px;
  width: 21.71px;
  height: 21.71px;
  overflow: hidden;
}
.landing-page-v2-inner2,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 403px;
  height: 55px;
}
.landing-page-v2-inner2 {
  top: 4291px;
  left: 937px;
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.back-to-top {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 66px);
}
.fluentsend-28-filled-icon1 {
  position: absolute;
  top: 2px;
  left: 110px;
  width: 20.07px;
  height: 20.07px;
  overflow: hidden;
  object-fit: contain;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 108px;
  border-radius: 50%;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.back-to-top-parent {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 66px);
  width: 132px;
  height: 24px;
  opacity: 0.6;
}
.landing-page-v2-inner3 {
  position: absolute;
  top: 4668px;
  left: 1208px;
  width: 132px;
  height: 24px;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.component-6-icon {
  position: absolute;
  top: 0;
  left: 495px;
  width: 328px;
  height: 512px;
  object-fit: cover;
}
.why {
  position: absolute;
  white-space: pre-wrap;
}
.c2,
.why {
  top: 4px;
  left: 0;
  line-height: 84px;
  font-weight: 500;
}
.c2,
.o3,
.o4 {
  position: absolute;
}
.o3 {
  top: 1px;
  left: 67px;
  line-height: 84px;
  font-weight: 500;
}
.o4 {
  top: 4px;
  left: 100px;
}
.e3,
.h,
.o4 {
  line-height: 84px;
  font-weight: 500;
}
.e3 {
  position: absolute;
  top: 8px;
  left: 161px;
}
.h {
  top: 0;
  left: 28px;
}
.c-parent,
.h,
.s4 {
  position: absolute;
}
.s4 {
  top: 6px;
  left: 133px;
  line-height: 84px;
  font-weight: 500;
}
.c-parent {
  top: 0;
  left: 148px;
  width: 191px;
  height: 92px;
}
.div1,
.s5,
.u2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84px;
  font-weight: 500;
}
.div1,
.s5 {
  top: 5px;
  left: 64px;
}
.s5 {
  top: 2px;
  left: 38px;
}
.u-parent,
.why-parent {
  position: absolute;
  top: 10px;
  left: 359px;
  width: 103px;
  height: 89px;
}
.why-parent {
  top: 78px;
  left: 0;
  width: 462px;
  height: 99px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-eczar);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-60xl);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 162px;
  height: 54px;
}
.vector-icon11 {
  position: absolute;
  height: 33.23%;
  width: 11.08%;
  top: 33.33%;
  right: 14.85%;
  bottom: 33.44%;
  left: 74.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-wrapper3,
.learn-more-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 54px;
}
.group-wrapper3 {
  top: 343px;
  left: 115px;
  font-size: var(--font-size-base);
}
.we-are-dedicated1,
.we-helped-more {
  position: absolute;
  top: 0;
  left: 751px;
  line-height: 34px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 489px;
  opacity: 0.6;
}
.we-helped-more {
  top: 201px;
  left: 115px;
}
.component-6-parent,
.group-parent3,
.group-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1240px;
  height: 397px;
}
.component-6-parent,
.group-wrapper2 {
  top: 144px;
}
.component-6-parent {
  top: 3354.21px;
  left: 100px;
  height: 541px;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-gentium-basic);
}
.landing-page-v2-child1 {
  position: absolute;
  top: 4045.5px;
  left: calc(50% - 0.5px);
  border-right: 1px solid var(--white);
  box-sizing: border-box;
  width: 1px;
  height: 301px;
  opacity: 0.2;
}
.about {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 68px;
  font-weight: 500;
}
.component-2,
.component-3,
.component-4 {
  position: absolute;
  top: 4046px;
  left: 100px;
  width: 241px;
  height: 68px;
  font-size: var(--font-size-53xl);
}
.component-2,
.component-4 {
  top: 4162px;
  width: 376px;
}
.component-2 {
  top: 4278px;
  width: 318px;
}
.text,
.text1 {
  position: absolute;
  height: calc(100% - 128.34px);
  top: 29.35px;
  left: 109.72px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(45.25deg);
  transform-origin: 0 0;
}
.text1 {
  top: 109.73px;
  left: 109.37px;
  transform: rotate(135.25deg);
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-child1 {
  position: absolute;
  top: 32.37px;
  left: 32.3px;
  width: 74px;
  height: 74px;
}
.text-parent {
  position: absolute;
  height: calc(100% + 25.02px);
  width: calc(100% + 25.02px);
  top: -12.51px;
  right: -12.51px;
  bottom: -12.51px;
  left: -12.51px;
}
.group-wrapper4 {
  position: absolute;
  top: 410px;
  left: 920px;
  width: 113.69px;
  height: 113.7px;
}
.superdrib {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 620px);
}
.tablermenu-deep-icon {
  position: absolute;
  top: 12px;
  left: 1208px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
}
.from-strategy-to,
.lorem-ipsum-dolor {
  position: absolute;
  display: inline-block;
}
.from-strategy-to {
  top: 196px;
  left: 0;
  font-size: var(--font-size-45xl);
  line-height: 84px;
  font-weight: 600;
  color: #000;
  width: 930px;
}
.lorem-ipsum-dolor {
  top: calc(50% + 95px);
  left: calc(50% - 620px);
  font-size: 20px;
  line-height: 30px;
  font-family: var(--font-gentium-basic);
  width: 579px;
  opacity: 0.6;
}
.group-child2 {
  position: absolute;
  top: 560px;
  left: 0;
  width: 118px;
  height: 10px;
}
.superdrib-parent {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 620px);
  width: 1240px;
  height: 570px;
}
.akar-iconsinstagram-fill,
.akar-iconspinterest-fill,
.akar-iconstwitter-fill {
  position: absolute;
  height: 18.52%;
  width: 100%;
  top: 81.48%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.akar-iconsinstagram-fill,
.akar-iconstwitter-fill {
  top: 0;
  bottom: 81.48%;
}
.akar-iconstwitter-fill {
  top: 40.74%;
  bottom: 40.74%;
}
.akar-iconspinterest-fill-parent,
.group-wrapper7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper7 {
  height: 70.13%;
  width: 90.91%;
  top: 29.87%;
  right: 9.09%;
  opacity: 0.7;
}
.group-child3 {
  position: absolute;
  height: 14.29%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 85.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper6 {
  position: absolute;
  height: 100%;
  width: 64.71%;
  top: 0;
  right: 35.29%;
  bottom: 0;
  left: 0;
}
.group-wrapper5 {
  position: absolute;
  top: 196px;
  left: 1206px;
  width: 34px;
  height: 154px;
}
.group-parent4,
.instance-parent {
  position: absolute;
  width: 1240px;
  height: 570px;
}
.group-parent4 {
  top: calc(50% - 285px);
  left: calc(50% - 620px);
  text-align: left;
  font-size: 32px;
  font-family: var(--font-eczar);
}
.instance-parent {
  top: 24px;
  left: 100px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-inter);
}
.group-child4,
.image-5-icon,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  width: 388.2px;
  height: 339.93px;
}
.group-child4 {
  left: 0;
  border-radius: 90px;
  background-color: rgba(6, 5, 7, 0.1);
}
.image-5-icon,
.rectangle-wrapper {
  left: 11.4px;
}
.image-5-icon {
  top: 16.76px;
  left: 0;
  width: 411px;
  height: 305.74px;
  object-fit: cover;
}
.group-parent6 {
  position: absolute;
  top: 1022px;
  left: 843px;
  width: 411px;
  height: 339.93px;
}
.landing-page-v2 {
  position: relative;
  background-color: #030102;
  width: 100%;
  height: 4878px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-eczar);
}
