@media only screen and (max-width: 1200px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-nav {
    position: fixed;
    top: 110%;
    left: 0;
    background-color: black;
    width: 100%;
  }

  .nav-item {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav-link {
    font-size: 14px;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .bar {
    height: 2px;
    width: 25px;
    background: #F3F3F3;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-caption {
    width: 100%;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0 25px;
  }

  .carousel-caption h1 {
    font-size: 1.25rem;
  }

  .carousel-caption p {
    font-size: 0.75rem;
  }

  .employee-card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .employee-card {
    width: 50%;
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row:nth-child(even) {
    flex-direction: column;
  }

  .work-description {
    margin-left: 0;
    text-align: center;
  }

  .work-img-style {
    margin-top: 50px;
  }

  .find-our-locations,
  .drop-email {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
  }

  .find-our-locations {
    font-size: 60px;
    font-weight: 600;
    position: relative;
  }

  .drop-email {
    font-size: 30px;
    font-weight: 600;
  }

  .additional-line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 2px 0 0 0;
    width: 100px;
    height: 0px;
    position: relative;
    display: inline-block;
    margin-left: 2vw;
  }

  .social-icon {
    max-width: 80px;
    max-height: 80px;
    margin-left: 15px;
  }

  .contact-form-img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.65rem;
  }

  .super-drib {
    font-size: 50px;
  }

  .contact-form-img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    position: fixed;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0 25px;
  }

  .get-connected {
    font-size: 36px;
    line-height: 60px;
  }

  .icon-box-address {
    text-align: center;
  }

  .social-icon {
    max-width: 100px;
    max-height: 50px;
  }
}

@media (max-width: 768px) {
  .work-img-style {
    height: 150px;
    width: 150px;
  }

  .work-description {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 30px;
  }

  .work-image-left, .work-image-right {
    flex-direction: column; /* Stack image and description vertically */
  }

  .work-description-left, .work-description-right {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .hexagon {
    width: 200px;
    height: 200px;
  }

  .hexagonleft, .hexagonright {
    width: 200px;
    height: 200px;
  }

  .sample-projects {
    font-size: 32px;
  }

  .get-in-touch-title {
    font-size: 32px;
  }

  .contact-form-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .subscribe-componentx {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}