*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #ffffff;
}

/*=======================
    Subscribe Form
======================*/
.subscribe-section{
    margin-top: 20px;
}
.about {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-Medium", sans-serif;
    font-size: 72px;
    line-height: 68px;
    margin-bottom: 30px;
}

.line-92 {
    box-sizing: border-box;
    border-style: solid;
    border-color:#f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.20000000298023224;
    width: 300px;
    height: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    margin-left: 200px;
}

.newsletter {
    box-sizing: border-box;
    color: #f3f3f3;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}

.email-form{
    box-sizing: border-box;
    background: #020202;
    border-radius: 80px;
    border-color: #f3f3f3;
    color: #F3F3F3;
    border-width: 1px;
    opacity: 0.397;
    width: 403px;
    height: 55px;
}

.submit-from{
    box-sizing: border-box;
    background: #020202;
    border-radius: 80px;
    border-color: #f3f3f3;
    border-width: 1px;
    opacity: 0.397;
    color: #F3F3F3;
}



/*==============================
		get-in-touch-section 
===============================*/
.get-in-touch-section{
    overflow: hidden;
    display: block;
}


.let-s-work-together {
    box-sizing: border-box;
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 64px;
    line-height: 84px;
    font-weight: 600;
    position: relative;
}

.line-105 {
    border-style: solid;
    border-color: var(--white, #f3f3f3);
    border-width: 2px 0 0 0;
    width: 64px;
    height: 0px;
    position: relative;
}

.super-drib {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 300px;
    font-weight: 600;
    opacity: 0.11999999731779099;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(-19.576deg) scale(1, 1);
}

  .btn-style input {
    border: none;
    background: transparent;
    color: #f3f3f3; 
    font-family: "GentiumBasic-Regular", sans-serif; 
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
  }
  .btn-style select {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    appearance: none;
}

.btn-style textarea {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    resize: none; 
}

.btn-line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.3;
    width: 100%;
    height: 0;
    position: relative;
}

.send-an-inquiry-btn {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
    border-color: #f3f3f3;
    border-radius: 30px;
    padding: 5px;
    width: 30%;
}

.send-an-inquiry-btn:hover{
    color: #f3f3f3;
}

/*================================================
    .support 
================================================*/

.support-section{
    overflow: hidden;
    display: block;
}

.support{
    color: white; 
    font-size: 48px; 
    font-family: Eczar; 
    font-weight: 500; 
    line-height: 68px; 
    word-wrap: break-word;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*================================================
    Footer 
================================================*/
#main-footer{
    overflow: hidden;
}
.copyright-line{
    opacity: 0.20; 
    border: 1px #F3F3F3 solid;
    margin-bottom: 20px;
}
.copyright{
    opacity: 0.40; 
    color: #F3F3F3; 
    font-size: 16px;
    font-family: Gentium Basic; 
    font-weight: 400; 
    line-height: 19.88px; 
    word-wrap: break-word;
    text-align: center;
}