*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
}

.container{
    background-color: #020202;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
    padding:30px;
}

/*================================================
    get_connected_section 
================================================*/

.get-connected-section{
    overflow: hidden;
    display: block;
    display: flex;
}

.get-connected {
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-family: 'Eczar-SemiBold', sans-serif;
    font-size: 48px;
    line-height: 84px;
    font-weight: 600;
    position: relative;
    margin-bottom: 50px;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    box-sizing: border-box;
    background: #f3f3f3;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.image {
    box-sizing: border-box;
    max-width: 36px;
    max-height: 36px;
    position: relative;
    overflow: visible;
}

  /* Responsive Styling */
  @media only screen and (max-width: 768px) {
    .social-icon {
      max-width: 80px;
      max-height: 80px;
      margin-left: 15px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .get-connected {
      font-size: 36px;
      line-height: 60px;
    }
    .social-icon {
      max-width: 100px;
      max-height: 50px;
      /* margin-left: 10px; */
    }
  }

/*================================================
    Footer 
================================================*/

#main-footer{
    overflow: hidden;
}

.support{
    color: white; 
    font-size: 48px; 
    font-family: Eczar; 
    font-weight: 500; 
    line-height: 68px; 
    word-wrap: break-word;
    text-align: center;
    /* margin-bottom: 5%;  */
}

.copyright-line{
    opacity: 0.20; 
    border: 1px #F3F3F3 solid;
    /* margin-bottom: 20px; */
}
.copyright{
    opacity: 0.40; 
    color: #F3F3F3; 
    font-size: 16px;
    font-family: Gentium Basic; 
    font-weight: 400; 
    line-height: 19.88px; 
    word-wrap: break-word;
    text-align: center;
}