*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
}

.container{
    background-color: #020202;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
    padding:20px;
}

/*========================================
    why-choose-us
===========================================*/

.why-choose-us{
    overflow: hidden;
    display: block;
}

.why-choose-img {
    box-sizing: border-box;
    width: 328px;
    height: 512px;
    position: relative;
}
.choose-img-container {
  position: absolute;
  inset: 0;
}

.choose-img {
  width: 327.71px;
  height: 312px;
  position: static;
  box-sizing: border-box;
    border-style: solid;
    border-color:#f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.20000000298023224;
}

.unsplash-img {
  width: 407px;
  height: 612px;
  position: absolute;
  left: -16px;
  top: -55px;
  object-fit: cover;
  
}

.choose-rectangle {
  background: rgba(217, 217, 217, 0.04);
  border-radius: 464px;
  width: 328px;
  height: 512px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: inset -11.2px 11.2px 11.2px 0px rgba(174, 174, 174, 0.28),
    inset -5.6px 5.6px 5.6px 0px rgba(255, 255, 255, 0.28),
    inset 11.2px -11.2px 11.2px 0px rgba(255, 255, 255, 0.28),
    inset 5.6px -5.6px 5.6px 0px rgba(174, 174, 174, 0.28);
  backdrop-filter: blur(0px);
}

.component-6-icon {
    position: absolute;
    top: 0;
    left: 495px;
    width: 328px;
    height: 512px;
    object-fit: cover;
}


/*========================================
    Subscribe & newsletter
===========================================*/

.subscribe-section{
    overflow: hidden;
    display: block;
}

.subscribe-component {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-Medium", sans-serif;
    font-size: 72px;
    line-height: 68px;
    margin-bottom: 30px;
}
.subscribe-component a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.subscribe-middle-line {
    box-sizing: border-box;
    border-style: solid;
    border-color:#f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.20000000298023224;
    width: 300px;
    height: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    margin-left: 200px;
}

.newsletter {
    box-sizing: border-box;
    color: #f3f3f3;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.newsletter-email{
    box-sizing: border-box;
    background: #020202;
    border-radius: 80px;
    border-color: #f3f3f3;
    color: #F3F3F3;
    border-width: 1px;
    opacity: 0.397;
    width: 403px;
    height: 55px;
}

.newsletter-submit-btn{
    box-sizing: border-box;
    background: #020202;
    border-radius: 80px;
    border-color: #f3f3f3;
    border-width: 1px;
    opacity: 0.397;
    color: #F3F3F3;
}

/*================================================
    Footer 
================================================*/

.main-footer{
    overflow: hidden;
}
.support-email{
    color: white; 
    font-size: 48px; 
    font-family: Eczar; 
    font-weight: 500; 
    line-height: 68px; 
    word-wrap: break-word;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.copyright-line{
    opacity: 0.20; 
    border: 1px #F3F3F3 solid;
    margin-bottom: 20px;
}
.copyright{
    opacity: 0.40; 
    color: #F3F3F3; 
    font-size: 16px;
    font-family: Gentium Basic; 
    font-weight: 400; 
    line-height: 19.88px; 
    word-wrap: break-word;
    text-align: center;
}