*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
}

.container{
    background-color: #020202;
    color: #ffffff;
    font-family: "Eczar-SemiBold", sans-serif;
    padding:30px;
}

/*==============================
		Contact us Section
===============================*/


.let-s-work-together *{
    box-sizing: border-box;
}

.let-s-work-together {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 64px;
    line-height: 84px;
    font-weight: 600;
    position: relative;
    margin-bottom: 80px;
}

.work-additional-line {
  border-style: solid;
  border-color: #f3f3f3;
  border-width: 2px 0 0 0;
  width: 100px;
  height: 0px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

/* .super-drib {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    transform: rotate(-20deg) scale(1, 1);
    font-size: 250px;
    font-weight: 600;
    opacity: 0.11999999731779099;
    transform-origin: 0 0;
    position: relative;
} */

.super-drib {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    transform: rotate(-20deg) scale(1, 1);
    font-size: 250px;
    font-weight: 600;
    opacity: 0.12; /* Adjusted opacity */
    transform-origin: 0 0;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .super-drib {
        font-size: 150px; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 576px) {
    .super-drib {
        font-size: 100px; /* Further adjust font size for even smaller screens */
    }
}


.btn-style input {
    border: none;
    background: transparent;
    color: #f3f3f3; 
    font-family: "GentiumBasic-Regular", sans-serif; 
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
  }
  .btn-style select {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    appearance: none;
}

.btn-style textarea {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    resize: none; 
}

.btn-line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.3;
    width: 100%;
    height: 0;
    position: relative;
}

.send-an-inquiry-btn {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
    border-color: #f3f3f3;
    border-radius: 30px;
    padding: 5px;
    min-width: 30%;
}

.send-an-inquiry-btn:hover{
    color: #f3f3f3;
}



/*===========================
        Drop Email Section
============================*/
.drop-email-section{
    overflow: hidden;
    display: block;
}
.drop-email {
    color: #f3f3f3;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    /* position: relative; */
}


.super-gmail-com{
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    /* position: relative; */
}

.rectangle-box {
    border-radius: 97px;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px;
    width: 141px;
    height: 54px;
    /* position: relative; */
}
.email-us {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400; 
    position: relative;
    margin: 10px;
}
.email-link{
    text-decoration: none;
    color: #f3f3f3;
}

/*========================
    Find location
=========================*/
.find-location {
    overflow: hidden;
    display: block;
}

.find-our-locations {
    color: #ffffff;
    text-align: left; /* Changed to center for responsiveness */
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 4vw; /* Changed font size to be responsive */
    line-height: 1.5; /* Changed line height to be responsive */
    font-weight: 600;
    position: relative;
    margin-bottom: 8vw; /* Changed margin to be responsive */
}

.additional-line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 2px 0 0 0;
    width: 10%; /* Changed width to be responsive */
    max-width: 100px; /* Added max-width for responsiveness */
    height: 0px;
    position: relative;
    display: inline-block;
    margin-left: 2vw; /* Changed margin to be responsive */
}

.rectangle-249 {
    box-sizing: border-box;
    background: #242424;
    width: 151px;
    height: 151px;
    position: relative;
}

.mdi-weather-night {
    /* width: 32px;
    height: 32px;
    position: relative;
    overflow: visible; */
    font-size: 30px;
}

.temperature {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.time {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.address-info{
    overflow: hidden;
    display: block
}

.united-kingdom {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.headquarter {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.address {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.address_details{
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: relative;
    width: 166px;
}

.contact-info{
    overflow: hidden;
    display: block;
    margin-top: 50px;
}

.contact{
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;  
}

.phone{
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative; 
}

.contact-gmail {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
}



.location-info{
    overflow: hidden;
    display: block;
    margin-top: 50px;
}

.location {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.see-map {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
}
.map-arrow{
    /* width: 18.49px;
    height: 18.49px; */
    /* position: relative; */
    transform-origin: 0 0;
    transform: rotate(-30deg) scale(1, 1);
    overflow: hidden;
}

.line-106 {
    box-sizing: border-box;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.30000001192092896;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/*================================================
    support HELLO@SUPERDRIB.COM
================================================*/

.support-section{
    overflow: hidden;
    display: block;
}

.support{
    color: white; 
    font-size: 48px; 
    font-family: Eczar; 
    font-weight: 500; 
    line-height: 68px; 
    word-wrap: break-word;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*================================================
    Footer 
================================================*/
#main-footer{
    overflow: hidden;
}
.copyright-line{
    opacity: 0.20; 
    border: 1px #F3F3F3 solid;
    margin-bottom: 20px;
}
.copyright{
    opacity: 0.40; 
    color: #F3F3F3; 
    font-size: 16px;
    font-family: Gentium Basic; 
    font-weight: 400; 
    line-height: 19.88px; 
    word-wrap: break-word;
    text-align: center;
}