*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #ffffff;
}

.let-s-work-together,
.let-s-work-together * {
  box-sizing: border-box;
}
.let-s-work-together {
  color: #ffffff;
  text-align: left;
  font-family: "Eczar-SemiBold", sans-serif;
  font-size: 64px;
  line-height: 84px;
  font-weight: 600;
  position: relative;
}

.line-105 {
    border-style: solid;
    border-color: var(--white, #f3f3f3);
    border-width: 2px 0 0 0;
    width: 64px;
    height: 0px;
    position: relative;
}

.super-drib {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 300px;
    font-weight: 600;
    opacity: 0.11999999731779099;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(-19.576deg) scale(1, 1);
}

  .btn-style input {
    border: none;
    background: transparent;
    color: #f3f3f3; 
    font-family: "GentiumBasic-Regular", sans-serif; 
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
  }
  .btn-style select {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    appearance: none;
}

.btn-style textarea {
    border: none;
    background: transparent;
    color: #f3f3f3;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 124.22%;
    font-weight: 400;
    opacity: 0.6;
    resize: none; 
}

.btn-line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.3;
    width: 100%;
    height: 0;
    position: relative;
}

.send-an-inquiry-btn {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
    border-color: #f3f3f3;
    border-radius: 30px;
    padding: 5px;
    width: 30%;
}

.send-an-inquiry-btn:hover{
    color: #f3f3f3;
}

/*===========================
        Drop Email Section
============================*/
.drop-email-section{
    overflow: hidden;
    display: block;
}
.drop-email {
    color: #f3f3f3;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    position: relative;
}


.super-gmail-com, .contact_number {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
    margin-bottom: 50px;
}

.rectangle-box {
    border-radius: 97px;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px;
    width: 141px;
    height: 54px;
    position: relative;
}
.email-us {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400; 
    position: relative;
    margin-top: 10px;
}
.email-link{
    text-decoration: none;
    color: #f3f3f3;
}

/*========================
    Find location
=========================*/
.find-location{
    overflow: hidden;
    display: block;
    margin-top: 20px;
}
.find-our-locations {
    color: #ffffff;
    text-align: left;
    font-family: "Eczar-SemiBold", sans-serif;
    font-size: 64px;
    line-height: 84px;
    font-weight: 600;
    position: relative;
    margin-bottom: 80px;
}

.line {
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 2px 0 0 0;
    width: 64px;
    height: 0px;
    position: relative;
  }

  .rectangle-249 {
    box-sizing: border-box;
    background: #242424;
    width: 151px;
    height: 151px;
    position: relative;
  }

  .mdi-weather-night {
    /* width: 32px;
    height: 32px;
    position: relative;
    overflow: visible; */
    font-size: 30px;

}

  .temperature {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.time {
    color: #f3f3f3;
    text-align: center;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.address-info{
    overflow: hidden;
    display: block
}

.united-kingdom {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.headquarter {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.address {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.address_details{
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: relative;
    width: 166px;
}

.contact-info{
    overflow: hidden;
    display: block;
    margin-top: 50px;
}

.contact{
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;  
}

.phone{
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative; 
}

.contact-gmail {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
}
.location-info{
    overflow: hidden;
    display: block;
    margin-top: 50px;
}

.location {
    box-sizing: border-box;
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Regular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    opacity: 0.6000000238418579;
    position: relative;
}

.see-map {
    color: #f5f5f5;
    text-align: left;
    font-family: "GentiumBasic-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
}
.map-arrow{
    /* width: 18.49px;
    height: 18.49px; */
    /* position: relative; */
    transform-origin: 0 0;
    transform: rotate(-30deg) scale(1, 1);
    overflow: hidden;
}

.line-106 {
    box-sizing: border-box;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px 0 0 0;
    opacity: 0.30000001192092896;
    position: relative;
    padding: 15px;
}

/*================================================
   Get connected
================================================*/

.get_connected_section{
    overflow: hidden;
    display: block;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.get-connected {
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-family: 'Eczar-SemiBold', sans-serif;
    font-size: 48px;
    line-height: 84px;
    font-weight: 600;
    position: relative;
    margin-bottom: 50px;
}
.image-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse-123 {
    box-sizing: border-box;
    background: #f3f3f3;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.mdi-instagram {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: visible;
}






/*================================================
    .support 
================================================*/

.support-section{
    overflow: hidden;
    display: block;
}

.support{
    color: white; 
    font-size: 48px; 
    font-family: Eczar; 
    font-weight: 500; 
    line-height: 68px; 
    word-wrap: break-word;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*================================================
    Footer 
================================================*/
#main-footer{
    overflow: hidden;
}
.copyright-line{
    opacity: 0.20; 
    border: 1px #F3F3F3 solid;
    margin-bottom: 20px;
}
.copyright{
    opacity: 0.40; 
    color: #F3F3F3; 
    font-size: 16px;
    font-family: Gentium Basic; 
    font-weight: 400; 
    line-height: 19.88px; 
    word-wrap: break-word;
    text-align: center;
}